<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
    <h1>EJS is a template engine</h1>
    <h1>
        hello <%= user.firstName %> <%= user.lastName %>
    </h1>

    <!-- if else -->

    <% if(locals.login) {%>
        <h2>hello</h2>
    <% } else {%>
        <h2>not hello</h2>
    <% } %>

    <% for(const key in students) {%>
        <p><%= key %></p>
        <p><%= students[key] %></p>
        <br>
    <% } %>

    <%
        let html = ''
        for (const item in students) {
            html += '<h1>' + students[item] + '</h1>'
        }
    %>
    <%- html %>
    <%- include('partials/footer') %>
</body>
</html>